.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  z-index: 999;

  visibility: hidden;
  opacity: 0;

  /* display: none; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;

  pointer-events: none;

  transition: all 1s;

  color: white;
}

.menu-button {
  /* Quitar estilos por defecto */
  all: unset;

  pointer-events: all;
  cursor: pointer;
  flex-shrink: 1;

  align-self: center;

  margin: 1rem;
  padding: 1rem;

  opacity: 0.9;
}

.menu-1 {
  /* background-color: red; */
}

.menu-2 {
  background-color: blue;
}

.menu-3 {
  background-color: violet;
}

.active {
  /* No usar nunca display para ocultar/desocultar  */
  /* porque puedo joder el tema del display flex  */
  /* display: block; */

  visibility: visible;
  opacity: 0.5;

  animation: displayCircles 1s;
}

@keyframes displayCircles {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  25% {
    opacity: 0.25;
    visibility: visible;
  }
  90% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 0.5;
    visibility: visible;
  }
}

.icon-home {
  /* Insertar imagen base64 como fondo */
  /* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NzYgNTEyIj48cGF0aCBkPSJNMjgwLjM3IDE0OC4yNkw5NiAzMDAuMTFWNDY0YTE2IDE2IDAgMDAxNiAxNmwxMTItLjI5YTE2IDE2IDAgMDAxNi0xNlYzNjhhMTYgMTYgMCAwMTE2LTE2aDY0YTE2IDE2IDAgMDExNiAxNnY5NS43MmExNiAxNiAwIDAwMTYgMTZsMTEyIC4yOWExNiAxNiAwIDAwMTYtMTZWMzAwTDI5NS42NyAxNDguMjZhMTIgMTIgMCAwMC0xNS4zIDB6TTU3My4zMiAyNjguMzVMNDg4IDE5Ny44VjQ0YTEyIDEyIDAgMDAtMTItMTJoLTcyYTEyIDEyIDAgMDAtMTIgMTJ2NzIuNjFMMzE4LjQ3IDQzLjE5Yy0xMS43LTkuNDQtMjguNTctOS40NC00MC4yNyAwTC4yNiAyNjguMzVhMTIgMTIgMCAwMC0xLjYgMTYuOWwyNS41IDMxLjFhMTIgMTIgMCAwMDE2LjkgMS42bDIzNS40LTE5MC41M2ExMiAxMiAwIDAxMTUuMyAwbDIzNS40IDE5MC41M2ExMiAxMiAwIDAxMTYuOS0xLjZsMjUuNS0zMS4xYTEyIDEyIDAgMDAtMS42NS0xNi45eiIvPjwvc3ZnPg=="); */
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: center;

  transition: all 1s;
}

.icon-home svg {
  fill: #833ab4;
}

.icon-home:hover {
  /* background-color: #c13584; */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.icon-home:hover svg {
  fill: #b74cff;
}

.icon-home:active {
  /* background-color: #833ab4; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon-home:active svg {
  fill: #491e65;
}