.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  z-index: 999;

  visibility: hidden;
  opacity: 0;

  /* display: none; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;

  pointer-events: none;

  transition: all 1s;

  color: white;
}

.menu-button {
  /* Quitar estilos por defecto */
  all: unset;

  pointer-events: all;
  cursor: pointer;
  flex-shrink: 1;

  align-self: center;

  margin: 1rem;
  padding: 1rem;

  opacity: 0.9;
}

/* .menu-1 {
  background-color: red;
} */

.menu-2 {
  background-color: blue;
}

.menu-3 {
  background-color: violet;
}

.active {
  /* No usar nunca display para ocultar/desocultar  */
  /* porque puedo joder el tema del display flex  */
  /* display: block; */

  visibility: visible;
  opacity: 0.5;

  animation: displayCircles 1s;
}

@keyframes displayCircles {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  25% {
    opacity: 0.25;
    visibility: visible;
  }
  90% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 0.5;
    visibility: visible;
  }
}

.icon-container {

  width: 5rem;
  height: 5rem;

  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: center;

  transition: all 1s;
}

.icon-container svg {
  fill: #833ab4;
}

.icon-container:hover {
  /* background-color: #c13584; */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.icon-container:hover svg {
  fill: #b74cff;
}

.icon-container:active {
  /* background-color: #833ab4; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icon-container:active svg {
  fill: #491e65;
}