
.menu-container {

  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  z-index: 999;

  visibility: hidden;
  opacity: 0;

  /* display: none; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;

  pointer-events: none;

  transition: all 1s;

}

.menu-button {

  pointer-events: all;
  cursor: pointer;
  flex-shrink: 1;
  
  align-self: center;

  margin: 1rem;
  padding: 1rem;

}

.menu-1 {

    background-color: red;

}

.menu-2 {

    background-color: blue;

}

.menu-3 {

    background-color: violet;

}

.active {

  /* No usar nunca display para ocultar/desocultar  */
  /* porque puedo joder el tema del display flex  */
  /* display: block; */

  visibility: visible;
  opacity: 0.5;

  animation: displayCircles 1s;

}

@keyframes displayCircles {
  0% {
    opacity: 0.0;
    visibility: hidden;
  }
  25% {
    opacity: 0.25;
    visibility: visible;
  }
  90% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 0.5;
    visibility: visible;
  }
}

