body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 2rem;
  height: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d1766;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6f1ab6;
}


/* Custom input type Range */
.range1 {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

.range1::-webkit-slider-runnable-track {
  height: 15px;
  background: #636363;
  border-radius: 16px;
}

.range1::-moz-range-track {
  height: 15px;
  background: #636363;
  border-radius: 16px;
}

.range1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: #ccc;
  border-radius: 50%;
  border: 2px solid #636363;
  box-shadow: -407px 0 0 400px #3d1766;
}

.range1::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #ccc;
  border-radius: 50%;
  border: 1px solid #636363;
  box-shadow: -407px 0 0 400px #3d1766;
}

/*=============
Aesthetics 
=========================*/

/* .range {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
} */